{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.1/font/bootstrap-icons.min.css" integrity="sha512-oAvZuuYVzkcTc2dH5z1ZJup5OmSQ000qlfRvuoTTiyTBjwX1faoyearj8KdMq0LgsBTHMrRuMek7s+CxF8yE+w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <!-- CSS   -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/tabela.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/paginator.css' %}">

    <title>Dados Equipamentos</title>
</head>
<body>

    
    <nav class="navbar" style="background-color: #417690;">
      <div class="container">
          <a href="{% url 'equipamentos' %}" class="navbar-brand" style="font-size: 25px; color: white;">Handaltech <span style="font-size: 12px;">ver-1.0</span></a>
          
          <form class="d-flex" role="search">
              <input class="form-control me-2" name="nome" type="search" placeholder="Buscar equipamento" aria-label="Search">
              <button class="btn btn-outline-info" type="submit">Procurar</button>
          </form>
      </div>
   </nav>
    
    <section class="container">
        <div>
            <h3 class="text-center mb-5">Equipamentos</h3>
          
          <a href="{% url 'equipamentos' %}" class="home">
            <div class="sign"><i class="bi bi-box-arrow-left"></i></div>
            <div class="text"> Home</div>
          </a>
        
            <div class="text-right mb-3">
                <!-- <span class="text">Baixar CSV</span> -->
                    <button class="button">    
                        <span>
                            <a href="{% url 'exportar_equipamentos_csv' %}">Baixar CSV</a>
                        </span>
                    </button>
            </div>
        </div>
        
        <table class="table caption-top">
            
            <thead class="table-primary">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">N Série</th>                
                <th scope="col">Condomínio</th>
              </tr>
            </thead>
            <tbody>
                {% for equipamento in criar_paginacao %}
              <tr>
                <td>{{ equipamento.pk }}</td>
                <td>{{ equipamento.nome }}</td>
                <td>{{ equipamento.numero_serie }}</td>                
                <td>{{ equipamento.condominio }}</td>
              </tr>              
              {% endfor %}
            </tbody>
          </table>

          <div class="pagination">
            <span class="step-links">
                {% if criar_paginacao.has_previous %}
                    <a href="?page=1">&laquo; Primeiro</a>
                {% endif %}
        
                {% for i in criar_paginacao.paginator.page_range %}
                    {% if criar_paginacao.number == i %}
                        <span class="current">
                            <strong>{{ i }}</strong>
                        </span>
                    {% else %}
                        <a href="?page={{ i }}">{{ i }}</a>
                    {% endif %}
                {% endfor %}
        
                {% if criar_paginacao.has_next %}
                    <a href="?page={{ criar_paginacao.paginator.num_pages }}">Último &raquo;</a>
                {% endif %}
            </span>
        </div>
    </section>   
        
        
        
        
        

   
   
</body>
</html>