body {
    background-color: #f8f9fa;
}
.erro-container {
    text-align: center;
    margin-top: 100px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.erro{
    font-size: 4rem;
    color: #d9534f;
}
.erro-mensagem {
    font-size: 1.5rem;
    margin-top: 10px;
    color: #777;
}
.btn-back {
    margin-top: 20px;
    font-size: 1.2rem;
}